# Environment secrets
.env

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store

# Vim swap/backup files
*.swp
*.swo
*.swl
*.swx

# Docker junk
*.tar

# Optional: Python cache
__pycache__/
