version: "3.8"

services:
  backend:
    image: node:18
    container_name: backend-app

    working_dir: /app

    volumes:
      - ./backend:/app

    command: sh -c "npm install && node index.js"

    expose:
      - "3000"

    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-proxy

    ports:
      - "8080:80"

    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

    depends_on:
      - backend

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
